# -----------------------
# Dependencies / builds
# -----------------------
node_modules/
dist/
web-build/
.expo/
.expo-shared/
expo-env.d.ts

# EAS local cache
.easlrc
.easlocal/

# Metro
.metro-health-check*

# Native builds
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcuserdata/

# Keystores / signing
*.jks
*.keystore
*.orig.*
*.mobileprovision
*.p8
*.p12
*.key
*.pem

# Firebase config (keep out of git)
android/app/google-services.json
ios/GoogleService-Info.plist

# -----------------------
# Environment files
# -----------------------
.env
.env.*
!.env.example
.envrc
*.local
app.config.local.ts
app.config.local.js

# -----------------------
# IDE / OS / logs
# -----------------------
# macOS
.DS_Store
# JetBrains / VSCode
.idea/
*.iml
.vscode/
# Logs & lockfiles
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
*.swp

# TypeScript
*.tsbuildinfo

# -----------------------
# Large media
# -----------------------
*.mp4
*.mov
*.avi
*.zip
