# Learn more https://docs.github.com/en/getting-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native Android
.android/
.gradle/
local.properties
*.jks
*.keystore
*.orig.*
*.iml

# Native iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcuserdata/
*.mobileprovision
*.p8
*.p12
*.key

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
*.swp

# local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# JetBrains / IDE
.idea/
*.iml

# Logs
*.log

# Others
*.lock
